{% extends "base.html" %}

{% block title %}Your Profile{% endblock %}

{% block content %}

    <h1>Your Profile</h1>

    <h5>Path: media/{{ user.profile.photo }}</h5>

    <section class="photo">
        <img src="media/{{ user.profile.photo }}">
    </section>

    <h5>Name:</h5>

    <h3>{{ user.first_name }} {{ user.last_name }}</h3>

    <h5>Email:</h5>

    <h3>{{ user.email }}</h3>

    <h5>DOB:</h5>

    <h3>{{ user.profile.date_of_birth }}</h3>

    <h5>Password</h5>

    <h3>{{ user.password }}</h3>


	<p>Welcome to your profile. You can <a href="{% url "edit" %}">edit your profile</a> or <a href="{% url "password_change" %}">change your password</a>.</p>

{% endblock %}